$globalMaxWidth: 1375px;
body{
  margin: 0;
  padding: 0;
}
.mainContainer{
  max-width: 1375px;
  display: grid;
  grid-template-columns: 100%;
  margin-left: auto;
  margin-right: auto;
}
.threeCols{
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
}
